.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Estilos CSS personalizados para los botones */
.custom-btn {
  background-color: #023D9F; /* Color de fondo azul */
  color: #fff; /* Color del texto blanco */
  border: 2px solid #fff; /* Borde blanco */
  border-radius: 20px; /* Forma redondeada */
  padding: 10px 20px; /* Ajustar el espaciado interno para hacer los botones más amplios */
  margin-right: 15px; /* Espacio entre botones */
  letter-spacing: 1px; /* Aumentar el espaciado entre las letras */
}

/* Estilos CSS para cambiar el color de fondo al pasar el ratón sobre los botones */
.custom-btn:hover {
  background-color: #023D9F; /* Mantener el fondo azul al pasar el ratón */
  color: #05DBF2; /* Cambiar el color del texto al pasar el ratón */
}

